.mySwiper-recommend .swiper-wrapper {
  transition-timing-function: linear;
  padding-bottom: 40px;
}

.mySwiper-recommend .swiper-button-prev,
.mySwiper-recommend .swiper-button-next {
  opacity: 0.6;
  color: white !important;
}

/* .mySwiper-recommend .swiper-button-prev {}
.mySwiper-recommend .swiper-button-next {} */

.mySwiper-recommend .swiper-button-prev:after,
.mySwiper-recommend .swiper-button-next:after {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.mySwiper-recommend .swiper-pagination .swiper-pagination-bullet {
  /* opacity: 1; */
  background-color: white;
}

.mySwiper-recommend .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0AADA2;
}